!!! 5
%html
  %head
    %title Rotten Potatoes!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %h1.title Rotten Potatoes!
    #main 
      - if !@current_user
        - if flash[:warning]
          #warning.message= flash[:warning]
        = button_to 'Sign up/Login', login_path, :id => 'signup_login', :method => :get
      - else
        #message= "You are logged in as #{@current_user.user_id}"
        = button_to 'Logout', logout_path, :id => 'logout', :method => :delete
  
      = yield
